node_modules
dist
dist-ssr
*.local
.DS_Store
.vscode/*
!.vscode/extensions.json
*.log
package-lock.json
yarn.lock

public/rss.xml
public/sitemap.xml
.github/prompts/ui-ux-pro-max/PROMPT.md
.github/prompts/ui-ux-pro-max/data/charts.csv
.github/prompts/ui-ux-pro-max/data/colors.csv
.github/prompts/ui-ux-pro-max/data/icons.csv
.github/prompts/ui-ux-pro-max/data/landing.csv
.github/prompts/ui-ux-pro-max/data/products.csv
.github/prompts/ui-ux-pro-max/data/react-performance.csv
.github/prompts/ui-ux-pro-max/data/styles.csv
.github/prompts/ui-ux-pro-max/data/typography.csv
.github/prompts/ui-ux-pro-max/data/ui-reasoning.csv
.github/prompts/ui-ux-pro-max/data/ux-guidelines.csv
.github/prompts/ui-ux-pro-max/data/web-interface.csv
.github/prompts/ui-ux-pro-max/data/stacks/astro.csv
.github/prompts/ui-ux-pro-max/data/stacks/flutter.csv
.github/prompts/ui-ux-pro-max/data/stacks/html-tailwind.csv
.github/prompts/ui-ux-pro-max/data/stacks/jetpack-compose.csv
.github/prompts/ui-ux-pro-max/data/stacks/nextjs.csv
.github/prompts/ui-ux-pro-max/data/stacks/nuxt-ui.csv
.github/prompts/ui-ux-pro-max/data/stacks/nuxtjs.csv
.github/prompts/ui-ux-pro-max/data/stacks/react-native.csv
.github/prompts/ui-ux-pro-max/data/stacks/react.csv
.github/prompts/ui-ux-pro-max/data/stacks/shadcn.csv
.github/prompts/ui-ux-pro-max/data/stacks/svelte.csv
.github/prompts/ui-ux-pro-max/data/stacks/swiftui.csv
.github/prompts/ui-ux-pro-max/data/stacks/vue.csv
.github/prompts/ui-ux-pro-max/scripts/core.py
.github/prompts/ui-ux-pro-max/scripts/design_system.py
.github/prompts/ui-ux-pro-max/scripts/search.py
.github/prompts/ui-ux-pro-max/scripts/__pycache__/core.cpython-314.pyc
.github/prompts/ui-ux-pro-max/scripts/__pycache__/design_system.cpython-314.pyc
.github/prompts/ui-ux-pro-max/scripts/__pycache__/search.cpython-314.pyc
